<ul class="social">
    <li class="twitter"><a href="https://twitter.com/danjavia" title="Follow me on Twitter"><i class="uk-icon-twitter"></i></a></li>
    <li class="github"><a href="https://github.com/danjavia" title="View my Github profile"><i class="uk-icon-github-alt"></i></a></li>
    <li class="google-plus"><a href="https://plus.google.com/101870596351145618768/about" title="Plus me! on Google plus"><i class="uk-icon-google-plus"></i></a></li>
</ul>