<ul class="social">
    <li class="twitter"><a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Follow me on Twitter"><i class="uk-icon-twitter"></i></a></li>
    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="View my Github profile"><i class="uk-icon-facebook"></i></a></li>
    <li class="google-plus"><a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Plus me! on Google plus"><i class="uk-icon-google-plus"></i></a></li>
</ul>